[submodule "firmware"]
	path = firmware
	url = https://github.com/hardwario/tower-firmware
[submodule "cli"]
	path = cli
	url = https://github.com/hardwario/tower-cli
[submodule "protocol"]
	path = protocol
	url = https://github.com/hardwario/tower-protocol
